* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3d1d1;
    margin: 5% auto;
    padding: 15px;
}
form {
    background: #fff;
    display: block;
    padding: 15px;
}
form label {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 18px;
}
.form input {
    display: block;
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 5px;
    outline: 1px solid #d3d1d1;
    border: none;
}